<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="ServerRunFileAppender" />
      <appender-ref ref="ServerErrorFileAppender" />
    </root>

    <logger name="Server" additivity="false"> 
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="ServerRunFileAppender" />
      <appender-ref ref="ServerErrorFileAppender" />
    </logger> 

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5level %m%n" />
      </layout>
    </appender>

    <appender name="ServerRunFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/Server.run.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />

      <layout type="log4net.Layout.PatternLayout"> 
        <conversionPattern value="%d %-5level %m%n" />
      </layout> 

      <filter type="log4net.Filter.LevelRangeFilter"> 
        <levelMin value="DEBUG" /> 
        <levelMax value="INFO" /> 
      </filter> 
    </appender>

    <appender name="ServerErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/Server.error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      
      <layout type="log4net.Layout.PatternLayout"> 
        <conversionPattern value="%d %-5level %m%n" />
      </layout> 

      <filter type="log4net.Filter.LevelRangeFilter"> 
        <levelMin value="WARN" /> 
        <levelMax value="FATAL" /> 
      </filter> 
    </appender>


    <logger name="TCPServer" additivity="false"> 
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="TCPServerRunFileAppender" />
      <appender-ref ref="TCPServerErrorFileAppender" />
    </logger> 

    <appender name="TCPServerRunFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/TCPServer.run.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      
      <layout type="log4net.Layout.PatternLayout"> 
        <conversionPattern value="%d %-5level %m%n" />
      </layout> 

      <filter type="log4net.Filter.LevelRangeFilter"> 
        <levelMin value="DEBUG" /> 
        <levelMax value="INFO" /> 
      </filter> 
    </appender>

    <appender name="TCPServerErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/TCPServer.error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      
      <layout type="log4net.Layout.PatternLayout"> 
        <conversionPattern value="%d %-5level %m%n" />
      </layout> 

      <filter type="log4net.Filter.LevelRangeFilter"> 
        <levelMin value="WARN" /> 
        <levelMax value="FATAL" /> 
      </filter> 
    </appender>


    <logger name="PackageManager" additivity="false"> 
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="PackageManagerRunFileAppender" />
      <appender-ref ref="PackageManagerErrorFileAppender" />
    </logger> 

    <appender name="PackageManagerRunFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/PackageManager.run.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      
      <layout type="log4net.Layout.PatternLayout"> 
        <conversionPattern value="%d %-5level %m%n" />
      </layout> 

      <filter type="log4net.Filter.LevelRangeFilter"> 
        <levelMin value="DEBUG" /> 
        <levelMax value="INFO" /> 
      </filter> 
    </appender>

    <appender name="PackageManagerErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/PackageManager.error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      
      <layout type="log4net.Layout.PatternLayout"> 
        <conversionPattern value="%d %-5level %m%n" />
      </layout> 

      <filter type="log4net.Filter.LevelRangeFilter"> 
        <levelMin value="WARN" /> 
        <levelMax value="FATAL" /> 
      </filter> 
    </appender>
  </log4net>
</configuration>
